:root {
	--background: #1e1e1e;
	--footerbg: #343434;
	--text: #FFF;
	--underline: #90EE90;
	--subtext: #c5c5c5;
	--error: #E36262;
	--font-family: 'Montserrat', sans-serif;
	--font-body: 'Montserrat', sans-serif;
	--transition: 200ms ease-in-out;
}

html,
body {
	overflow-x: hidden;
}

html {
	font-size: 12px;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	color: var(--text);
	background: var(--background);
	font-family: var(--font-body);
	overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-family);
	margin-block-start: 0;
}

h1 {
	font-size: 2.5rem;
	line-height: 3rem;
	font-weight: 700;
	font-style: normal;
}

h2 {
	font-size: 4rem;
	line-height: 3.5rem;
}

h3 {
	font-size: 2.5rem;
	line-height: 3.5rem;
}

h4 {
	font-size: 2rem;
	line-height: 2rem;
}

p {
	font-size: 1.5rem;
	line-height: 1.75rem;
}

/* NAV BAR */

.header-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	gap: 20px 25px;
	padding-top: 2rem;
}

.header-home {
	font-size: 2em;
	font-family: var(--font-family);
	display: flex;
	justify-content: center;
	flex: 1 0 100%;
	padding-bottom: 5px;
	padding-left: 0;
}

.nav-socials {
	display: flex;
	justify-content: center;
}

.nav-item a {
	display: inline-block;
	padding: 10px 15px;
}

a {
	color: var(--text);
	text-decoration: none;
	transition: color var(--transition);
}

a:link,
a:active,
a:visited {
	color: var(--text);
}

a:hover {
	color: var(--underline);
}

i {
	font-size: 2em;
}

/* HERO  */

.contact {
	font-size: 1.5rem;
	letter-spacing: 0.05em;
	font-family: var(--font-family);
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 1rem;
	background-image: linear-gradient(to right, var(--underline) 75%, var(--underline) 75%);
	background-position: 0 1.9rem;
	background-repeat: repeat-x;
	background-size: 8px 2px;
	padding-right: 0;
	padding-left: 0;
}

.underlined {
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-underline-offset: 0.3em;
	text-decoration-color: var(--underline);
}

.wrapper {
	padding-bottom: 4rem;
	width: calc(100% - 3.5rem);
	margin-inline: auto;
	max-width: 70rem;
}

.border-bottom {
	border-bottom: 1px solid #C5C5C5;
}

.hero-portrait {
	position: relative;
	display: block;
	width: 17rem;
	max-width: 17rem;
	margin: auto;
}

.hero-text {
	position: relative;
	display: block;
}

.hero-header {
	width: 65%;
	text-align: center;
	margin: auto;
	padding-block: 1rem;
}

.hero-intro {
	width: 80%;
	text-align: center;
	margin: auto;
	margin-block: 1em;
}

.hero-contact {
	margin: 0 auto;
	text-align: center;
}

.skills-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	padding-top: 4rem;
}

.skills-item {
	text-align: center;
}

.skill-name {
	margin: auto;
	font-size: clamp(2.25rem, 1.9091rem + 1.8182vw, 3rem);
	margin-block-end: 4px;
}

.skill-year {
	margin: auto;
	font-size: clamp(1rem, 0.7727rem + 1.2121vw, 1.5rem);
	line-height: 2.75rem;
}

.project-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	padding-top: 4rem;
	justify-items: center;
	/* text-align: center; */
}

.project-header {
	margin: 0;
	align-self: center;
	grid-column: 1 / span 2;
}

.project-item {
	grid-column: 1 / span 2;
	align-items: start;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, auto);
}

.project-contact {
	grid-column: 1 / span 2;
	justify-self: center;
	align-self: end;
}

.project-img {
	margin: auto;
	width: 300px;
	height: 177px;
}

.project-text {
	line-height: normal;
	text-align: left;
	margin: 0;
}

.project-tools {
	word-spacing: 1em;
	font-family: var(--font-family);
	margin-block: 0.5rem;
}

.project-lookup {
	margin-inline-end: 1.5rem;
}

.project-picture-click {
	cursor: default;
}

.footer-contact {
	background-color: var(--footerbg);
}

.footer-wrapper {
	max-width: 40rem;
	margin-inline: auto;
	padding-block: 5rem;
	width: calc(100% - 2rem);
	max-width: 70rem;
}

.footer-text {
	position: relative;
}

.footer-header {
	text-align: center;
}

.footer-form {
	margin-bottom: 1rem;
}

.email-form {
	display: flex;
}
.email-div {
	text-align: center;
	margin: auto;
}
.email-message {
	margin: 0;
}
.email {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
}
.email-me {
	padding: 0 1rem;
	display: inline-block;
}

input[type=text],
[type=email] {
	width: 100%;
	margin: 8px 0;
	padding-inline: 12px;
	padding-block-end: 8px;
	border: none;
	border-bottom: 1px solid var(--subtext);
	font-family: var(--font-body);
}

#name,
#email,
#message {
	background-color: transparent;
	color: var(--text);
	font-size: 1.5rem;
}

#message {
	width: 100%;
	padding: 5px 0 60px 6px;
	padding-inline: 12px;
}

textarea {
	resize: vertical;
	border: none;
	border-bottom: 1px solid var(--subtext);
	font-family: var(--font-body);
}

.submit-button {
	color: var(--text);
	border: none;
	background-color: var(--footerbg);
	margin-left: 7.75rem;
	text-align: end;
	transition: color var(--transition);
}

.submit-button:hover {
	color: var(--underline);
	cursor: pointer;
}

.submit-div {
	display: flex;
	justify-content: flex-end;
}

.footer-outro {
	text-align: center;
}

.footer-socials {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px 25px;
	padding-block: 1rem 3rem;
}

[data-form="af371474-acae-11ed-945f-77e9902bd08e"] .main-form {
	align-items: center;
}

/* DESKTOP STYLES */

@media screen and (min-width: 960px) {
	html {
		font-size: 16px;
	}

	.wrapper {
		width: calc(100% - 5rem);
	}

	.header-nav {
		align-items: center;
		gap: 30px;
	}

	.header-home {
		font-size: 2em;
		color: var(--text);
		font-family: var(--font-family);
		font-weight: 800;
		vertical-align: middle;
		flex: 0 1 auto;
		margin: 0;
		margin-inline-end: auto;
	}

	.nav-links {
		justify-content: center;
	}

	.nav-item a {
		padding: 0;
	}

	.hero-content {
		display: flex;
		flex-direction: row-reverse;
	}

	.hero-text {
		text-align: left;
		flex: auto;
		align-items: center;
	}

	.hero-header,
	.hero-intro,
	.hero-contact {
		text-align: left;
		margin: 0;
		margin-block-end: 3rem;
	}

	.hero-header {
		font-size: 5.5rem;
		line-height: 6rem;
		width: 95%;
	}

	.hero-intro {
		width: 33ch;
	}

	.hero-portrait {
		width: 24rem;
		max-width: 50rem;
	}

	.skills-wrapper {
		grid-template-columns: repeat(3, 1fr);
	}

	.skill-name,
	.skill-year {
		text-align: left;
	}

	.project-header {
		grid-column: auto;
		justify-self: start;
	}

	.project-contact {
		grid-column: auto;
		justify-self: end;
	}

	.project-item {
		grid-column: span 1;
		justify-self: center;
	}

	.project-item picture {
		margin-block-end: 20px;
	}

	.project-picture {
		position: relative;
		margin: 0;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.project-img {
		margin: 0;
		width: 400px;
		height: 237px;
	}

	.project-view {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		align-self: center;
		justify-self: center;
		margin-inline-start: 30px;
	}

	.project-lookup {
		text-align: center;
		font-size: 1.25rem;
	}

	.project-picture::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		background-color: var(--background);
		opacity: 0;
		transition: opacity 150ms ease-in-out;
	}

	.project-item:not(.project-exclusive):hover .project-picture::after {
		opacity: 0.5;
	}

	.project-item:hover .project-view {
		opacity: 1;
	}



	.project-view {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		justify-self: center;
		align-self: center;
		z-index: 1;
		opacity: 0;
		transition: opacity 100ms ease-in-out;
	}

	.footer-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 28rem);
		justify-content: space-between;
	}

	.footer-header {
		text-align: left;
	}

	.footer-outro {
		margin-inline-end: 2rem;
		text-align: left;
	}

	.footer-socials {
		align-items: center;
		gap: 29px;
	}

	.underlined {
		text-underline-offset: 0.25em;
		text-decoration-thickness: 4px;
	}
}

@media screen and (max-width: 370px) {
	.project-view {
		display: grid;
		justify-items: center;
	}

	.project-img {
		width: 285px;
		height: auto;
	}

}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}